<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="<%= active_class('home') %>"><a href="/">TDS</a></li>
      <li role="presentation" class="<%= active_class('reservations') %>"><%= link_to 'Reservations', '/reservations' %></li>
      <li role="presentation" class="<%= active_class('about') %>"><a href="/about">About</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">Take Dat Shit</h3>
</div>
