/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require bootstrap/dist/css/bootstrap
*= require_self
*/

/* 0. Layout. */
#anchorman-header {
    color: white;
    background-color: #2196F3;
}

/* 1. Toilet banner. */
div.toilet-banner {
    padding: 8px;
    color: white;
    -webkit-box-shadow: 4px 8px 37px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 8px 37px -4px rgba(0,0,0,0.75);
    box-shadow: 4px 8px 37px -4px rgba(0,0,0,0.75);
}

div.toilet-banner.available {
    background-color: lime;
}

div.toilet-banner.occupied {
    background-color: red;
}

div.toilet-banner.offline {
    background-color: black;
}

div.toilet-status {
    font-size: 24px;
}